<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="PHP_CodeSniffer" xsi:noNamespaceSchemaLocation="phpcs.xsd">
    <description>RPC Plus Coding Standard</description>

    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg value="p"/>
    <arg name="extensions" value="php"/>

    <file>src</file>
    <file>tests</file>

    <!-- Coding standard to use -->
    <rule ref="PSR12"></rule>
    <rule ref="Generic.PHP.ForbiddenFunctions">
        <properties>
            <property name="forbiddenFunctions" type="array">
                <element key="sizeof" value="count"/>
                <element key="delete" value="unset"/>
                <element key="print" value="echo"/>
                <element key="debug" value="null"/>
                <element key="dd" value="null"/>
                <element key="var_dump" value="null"/>
            </property>
        </properties>
    </rule>
</ruleset>
